In [7]:
with open('data/movie.csv') as data_file:
    data = data_file.readlines(1)
    print(data)

['color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes\n']

In [10]:
import pandas as pd
movie = pd.read_csv('data/movie.csv')
movie

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [11]:
# 0, 1, 2, 3 ... indexes/ Axis 0
# color, director_name, num_critic_for_reviews ... columns/ Axis 1

In [12]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [13]:
movie.head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000

In [16]:
columns = movie.columns
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [15]:
values = movie.values
values

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]],
      shape=(4916, 28), dtype=object)

In [18]:
index = movie.index
index

RangeIndex(start=0, stop=4916, step=1)

In [19]:
type(movie)

pandas.core.frame.DataFrame

In [20]:
movie['director_name']

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [21]:
type(movie['director_name'])

pandas.core.series.Series

In [22]:
movie[['director_name', 'num_critic_for_reviews']]

          director_name  num_critic_for_reviews
0         James Cameron                   723.0
1        Gore Verbinski                   302.0
2            Sam Mendes                   602.0
3     Christopher Nolan                   813.0
4           Doug Walker                     NaN
...                 ...                     ...
4911        Scott Smith                     1.0
4912                NaN                    43.0
4913   Benjamin Roberds                    13.0
4914        Daniel Hsia                    14.0
4915           Jon Gunn                    43.0

[4916 rows x 2 columns]

In [23]:
type(movie[['director_name', 'num_critic_for_reviews']])

pandas.core.frame.DataFrame

In [24]:
print(type(columns))
print(type(values))
print(type(index))

<class 'pandas.core.indexes.base.Index'>
<class 'numpy.ndarray'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [26]:
movie.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [27]:
movie.dtypes.value_counts()

float64    13
object     12
int64       3
Name: count, dtype: int64

In [28]:
movie.value_counts()

color            director_name     num_critic_for_reviews  duration  director_facebook_likes  actor_3_facebook_likes  actor_2_name     actor_1_facebook_likes  gross       genres                         actor_1_name     movie_title        num_voted_users  cast_total_facebook_likes  actor_3_name          facenumber_in_poster  plot_keywords                                                                          movie_imdb_link                                       num_user_for_reviews  language  country  content_rating  budget      title_year  actor_2_facebook_likes  imdb_score  aspect_ratio  movie_facebook_likes
Color            Émile Gaudreault  67.0                    92.0      9.0                      71.0                    Luke Kirby       636.0                   6239558.0   Comedy|Drama                   Paul Sorvino     Mambo Italiano     5548             1033                       Claudia Ferri         0.0                   gay|immigrant|italian|police|police officer                                            http://www.imdb.com/title/tt0330602/?ref_=fn_tt_tt_1  67.0                  English   Canada   R               5000000.0   2003.0      210.0                   6.7         1.85          352                     1
Black and White  Akira Kurosawa    153.0                   202.0     0.0                      4.0                     Minoru Chiaki    304.0                   269061.0    Action|Adventure|Drama         Takashi Shimura  Seven Samurai      229012           338                        Kamatari Fujiwara     6.0                   16th century|battle|japan|practice|samurai                                             http://www.imdb.com/title/tt0047478/?ref_=fn_tt_tt_1  596.0                 Japanese  Japan    Unrated         2000000.0   1954.0      8.0                     8.7         1.37          11000                   1
                 Alex Garland      489.0                   108.0     232.0                    123.0                   Sonoya Mizuno    149.0                   25440971.0  Drama|Mystery|Sci-Fi|Thriller  Elina Alminas    Ex Machina         289508           430                        Corey Johnson         0.0                   artificial intelligence|robot|robot human relationship|turing test|video surveillance  http://www.imdb.com/title/tt0470752/?ref_=fn_tt_tt_1  611.0                 English   UK       R               15000000.0  2015.0      145.0                   7.7         2.35          109000                  1
                 Alexander Payne   433.0                   115.0     729.0                    622.0                   Bruce Dern       1000.0                  17613460.0  Adventure|Comedy|Drama         Devin Ratray     Nebraska           91082            3798                       Will Forte            0.0                   aging|billings montana|lincoln nebraska|nebraska|pickup truck                          http://www.imdb.com/title/tt1821549/?ref_=fn_tt_tt_1  274.0                 English   USA      R               12000000.0  2013.0      844.0                   7.8         2.35          28000                   1
                 Alfred Hitchcock  290.0                   108.0     13000.0                  285.0                   Vera Miles       606.0                   32000000.0  Horror|Mystery|Thriller        Janet Leigh      Psycho             422432           1885                       John Gavin            2.0                   money|motel|rain|shower|theft                                                          http://www.imdb.com/title/tt0054215/?ref_=fn_tt_tt_1  1040.0                English   USA      R               806947.0    1960.0      332.0                   8.5         1.85          18000                   1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ..
                 Bill Condon       188.0                   118.0     386.0                    812.0                   Oliver Platt     14000.0                 10214647.0  Biography|Drama                Liam Neeson      Kinsey             42689            17490                      Dylan Baker           0.0                   professor|research|sex|sexuality|student                                               http://www.imdb.com/title/tt0362269/?ref_=fn_tt_tt_1  204.0                 English   USA      R               11000000.0  2004.0      1000.0                  7.1         2.35          0                       1
                                   127.0                   105.0     386.0                    248.0                   Lynn Redgrave    3000.0                  6390032.0   Biography|Drama                Brendan Fraser   Gods and Monsters  24977            4238                       Kevin J. O'Connor     2.0                   friendship|gardener|gay interest|homosexual|memory                                     http://www.imdb.com/title/tt0120684/?ref_=fn_tt_tt_1  229.0                 English   USA      R               3500000.0   1998.0      258.0                   7.5         2.35          0                       1
                 Baz Luhrmann      209.0                   127.0     1000.0                   653.0                   Kylie Minogue    1000.0                  57386369.0  Drama|Musical|Romance          Jim Broadbent    Moulin Rouge!      224013           2601                       Richard Roxburgh      1.0                   death of main character|eiffel tower paris|jealousy|tragedy|two suitors                http://www.imdb.com/title/tt0203009/?ref_=fn_tt_tt_1  2319.0                English   USA      PG-13           52500000.0  2001.0      691.0                   7.6         2.35          10000                   1
                 Barry Levinson    73.0                    147.0     272.0                    893.0                   Brad Pitt        22000.0                 53300852.0  Crime|Drama|Thriller           Robert De Niro   Sleepers           154487           37076                      Minnie Driver         3.0                   boy|guard|kicked in the crotch|prank|sexual abuse                                      http://www.imdb.com/title/tt0117665/?ref_=fn_tt_tt_1  259.0                 English   USA      R               44000000.0  1996.0      11000.0                 7.5         2.35          0                       1
                 Anton Corbijn     183.0                   122.0     210.0                    471.0                   Samantha Morton  845.0                   871577.0    Biography|Drama|Music          Sam Riley        Control            51353            2614                       Alexandra Maria Lara  1.0                   band|employment agency|singer|stage fright|suicide                                     http://www.imdb.com/title/tt0421082/?ref_=fn_tt_tt_1  143.0                 English   UK       R               4500000.0   2007.0      631.0                   7.7         2.35          13000                   1
Name: count, Length: 3654, dtype: int64

In [29]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4902 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [30]:
movie.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4903.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,1.377320,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,2.023826,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,49.000000,93.000000,7.000000,132.000000,607.000000,5.019656e+06,8.361750e+03,1394.750000,0.000000,64.000000,6.000000e+06,1999.000000,277.000000,5.800000,1.850000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,1.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
75%,191.000000,118.000000,189.750000,633.000000,11000.000000,6.110841e+07,9.377275e+04,13616.750000,2.000000,320.500000,4.300000e+07,2011.000000,912.000000,7.200000,2.350000,2000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [31]:
movie['color'].describe()

count      4897
unique        2
top       Color
freq       4693
Name: color, dtype: object

In [34]:
pd.Series(['Apple', 'Banana', None])

0     Apple
1    Banana
2      None
dtype: object

In [35]:
import numpy as np
pd.Series(['Apple', 'Banana', np.nan])

0     Apple
1    Banana
2       NaN
dtype: object

In [37]:
pd.Series(['Apple', 'Banana', np.nan]).dtypes

dtype('O')

In [38]:
movie.director_name

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [39]:
type(movie['director_name'])

pandas.core.series.Series

In [40]:
type(movie['director_name'].dtype)

numpy.dtypes.ObjectDType

In [41]:
movie.director_name.dtype

dtype('O')

In [42]:
pd.Series([1, 2.5, '3', np.nan])

0      1
1    2.5
2      3
3    NaN
dtype: object

In [43]:
pd.Series([1, 2.5, np.nan])

0    1.0
1    2.5
2    NaN
dtype: float64

In [44]:
pd.Series([1, np.nan])

0    1.0
1    NaN
dtype: float64

In [45]:
pd.Series([1, 5])

0    1
1    5
dtype: int64

In [46]:
movie['director_name'].size

4916

In [47]:
movie['director_name'].name

'director_name'

In [48]:
movie['director_name'].nunique()

2397

In [49]:
movie['director_name'].unique()

array(['James Cameron', 'Gore Verbinski', 'Sam Mendes', ...,
       'Scott Smith', 'Benjamin Roberds', 'Daniel Hsia'],
      shape=(2398,), dtype=object)

In [50]:
director = movie['director_name']
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [52]:
movie.sample(5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
785,Color,Paul W.S. Anderson,172.0,130.0,545.0,552.0,Joely Richardson,722.0,26616590.0,Horror|Sci-Fi|Thriller,...,857.0,English,UK,R,60000000.0,1997.0,585.0,6.7,2.35,10000
2854,Color,Michael Winterbottom,225.0,109.0,187.0,204.0,Ned Beatty,818.0,214966.0,Crime|Drama|Thriller,...,176.0,English,USA,R,13000000.0,2010.0,467.0,6.1,2.35,0
2561,Color,Wayne Beach,40.0,93.0,7.0,922.0,LL Cool J,1000.0,1181197.0,Drama|Mystery|Thriller,...,24.0,English,USA,R,15500000.0,2005.0,1000.0,5.9,1.85,191
1428,Color,Andrew Niccol,360.0,109.0,487.0,3000.0,Olivia Wilde,20000.0,37553932.0,Action|Sci-Fi|Thriller,...,463.0,English,USA,PG-13,40000000.0,2011.0,10000.0,6.7,2.35,52000
2472,Color,Erik White,62.0,99.0,17.0,826.0,Loretta Devine,918.0,24708699.0,Comedy,...,30.0,English,USA,PG-13,NaN,2010.0,912.0,4.9,2.35,0

In [53]:
director.value_counts()

director_name
Steven Spielberg      26
Woody Allen           22
Clint Eastwood        20
Martin Scorsese       20
Spike Lee             16
                      ..
Mike Bruce             1
Bradley Rust Gray      1
Collin Joseph Neal     1
Kirk Loudon            1
Kevin Jordan           1
Name: count, Length: 2397, dtype: int64

In [54]:
director.value_counts().head()

director_name
Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
Spike Lee           16
Name: count, dtype: int64

In [57]:
fb_likes = movie['actor_1_facebook_likes']

In [58]:
fb_likes.max()

np.float64(640000.0)

In [59]:
fb_likes.idxmax()

1885

In [60]:
fb_likes.mean()

np.float64(6494.488490527602)

In [61]:
fb_likes.median()

np.float64(982.0)

In [62]:
fb_likes.mode()

0    1000.0
Name: actor_1_facebook_likes, dtype: float64

In [63]:
director.isna()

0       False
1       False
2       False
3       False
4       False
        ...
4911    False
4912     True
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [64]:
director.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
4911    False
4912     True
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [65]:
director.isnull().value_counts()

director_name
False    4814
True      102
Name: count, dtype: int64

In [66]:
director.fillna(0)

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                    0
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [68]:
director.fillna('Unknown', inplace=True)
director

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912              Unknown
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [69]:
fb_likes.dropna()

0        1000.0
1       40000.0
2       11000.0
3       27000.0
4         131.0
         ...
4911      637.0
4912      841.0
4913        0.0
4914      946.0
4915       86.0
Name: actor_1_facebook_likes, Length: 4909, dtype: float64

In [70]:
imdb_score = movie['imdb_score']
imdb_score

0       7.9
1       7.1
2       6.8
3       8.5
4       7.1
       ...
4911    7.7
4912    7.5
4913    6.3
4914    6.3
4915    6.6
Name: imdb_score, Length: 4916, dtype: float64

In [71]:
imdb_score + 1

0       8.9
1       8.1
2       7.8
3       9.5
4       8.1
       ...
4911    8.7
4912    8.5
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [72]:
imdb_score > 8

0       False
1       False
2       False
3        True
4       False
        ...
4911    False
4912    False
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

In [73]:
movie[movie['imdb_score'] > 8]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
17,Color,Joss Whedon,703.0,173.0,0.0,19000.0,Robert Downey Jr.,26000.0,623279547.0,Action|Adventure|Sci-Fi,...,1722.0,English,USA,PG-13,220000000.0,2012.0,21000.0,8.1,1.85,123000
27,Color,Anthony Russo,516.0,147.0,94.0,11000.0,Scarlett Johansson,21000.0,407197282.0,Action|Adventure|Sci-Fi,...,1022.0,English,USA,PG-13,250000000.0,2016.0,19000.0,8.2,2.35,72000
43,Color,Lee Unkrich,453.0,103.0,125.0,721.0,John Ratzenberger,15000.0,414984497.0,Adventure|Animation|Comedy|Family|Fantasy,...,733.0,English,USA,G,200000000.0,2010.0,1000.0,8.3,1.85,30000
58,Color,Andrew Stanton,421.0,98.0,475.0,522.0,Fred Willard,1000.0,223806889.0,Adventure|Animation|Family|Sci-Fi,...,1043.0,English,USA,G,180000000.0,2008.0,729.0,8.4,2.35,16000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,Color,Cary Bell,NaN,78.0,0.0,0.0,Stacie Evans,0.0,NaN,Documentary,...,1.0,English,USA,NaN,180000.0,2014.0,0.0,8.7,NaN,88
4815,Color,Bill Melendez,43.0,25.0,36.0,27.0,Bill Melendez,39.0,NaN,Animation|Comedy|Family,...,126.0,English,USA,TV-G,150000.0,1965.0,36.0,8.4,1.33,0
4822,Color,Amal Al-Agroobi,NaN,62.0,58.0,NaN,NaN,NaN,NaN,Documentary|Family,...,NaN,Arabic,United Arab Emirates,NaN,125000.0,2013.0,NaN,8.2,NaN,54
4846,Color,Sut Jhally,16.0,80.0,3.0,0.0,Seth Ackerman,103.0,NaN,Documentary,...,13.0,English,USA,NaN,70000.0,2004.0,0.0,8.3,NaN,110
4875,Color,Martin Scorsese,71.0,117.0,17000.0,476.0,Levon Helm,725.0,321952.0,Documentary|Music,...,113.0,English,USA,PG,NaN,1978.0,572.0,8.2,1.85,0

In [74]:
movie[movie['imdb_score'] > 8][['director_name', 'imdb_score']]

          director_name  imdb_score
3     Christopher Nolan         8.5
17          Joss Whedon         8.1
27        Anthony Russo         8.2
43          Lee Unkrich         8.3
58       Andrew Stanton         8.4
...                 ...         ...
4804          Cary Bell         8.7
4815      Bill Melendez         8.4
4822    Amal Al-Agroobi         8.2
4846         Sut Jhally         8.3
4875    Martin Scorsese         8.2

[249 rows x 2 columns]

In [76]:
money = pd.Series([100, 250, None])
money

0    100.0
1    250.0
2      NaN
dtype: float64

In [77]:
money - 150

0    -50.0
1    100.0
2      NaN
dtype: float64

In [78]:
money.fillna(0) - 150

0    -50.0
1    100.0
2   -150.0
dtype: float64

In [79]:
money.sub(150, fill_value=0)

0    -50.0
1    100.0
2   -150.0
dtype: float64

In [80]:
second_money = pd.Series([50, 100, 200, 70])

In [81]:
money

0    100.0
1    250.0
2      NaN
dtype: float64

In [82]:
second_money

0     50
1    100
2    200
3     70
dtype: int64

In [83]:
money + second_money

0    150.0
1    350.0
2      NaN
3      NaN
dtype: float64

In [84]:
a = fb_likes.fillna(0)
for i in a:
    print(int(i))

1000
40000
11000
27000
131
640
24000
799
26000
25000
15000
18000
451
40000
40000
15000
22000
26000
40000
10000
5000
15000
891
5000
16000
6000
29000
21000
14000
3000
883
24000
21000
40000
20000
12000
894
974
44000
15000
12000
1000
16000
15000
23000
26000
17000
34000
19000
979
29000
15000
16000
894
11000
275
2000
998
1000
268
1000
18000
17000
11000
1000
34000
23000
1000
1000
21000
17000
10000
5000
10000
87000
10000
711
23000
1000
19000
21000
26000
11000
10000
622
18000
19000
4000
2000
756
975
15000
890
18000
648
14000
11000
29000
544
5000
23000
11000
34000
34000
12000
87000
40000
3000
3000
24000
531
3000
662
12000
21000
21000
10000
10000
40000
1000
23000
1000
49000
20000
309
1000
234
26000
27000
15000
26000
17000
730
14000
40000
10000
12000
2000
11000
1000
22000
17000
921
20000
20000
3000
11000
851
769
783
13000
10000
18000
24000
10000
20000
957
10000
23000
26000
24000
18000
18000
820
986
5000
820
17000
11000
12000
11000
766
613
21000
49000
3000
982
535
29000
16000
40000
19000
13000
11000
2000
34000
17000
10000
10000
4000
11000
12000
2000
11000
309
10000
1000
10000
49000
24000
11000
16000
40000
10000
34000
15000
688
20000
23000
21000
14000
605
845
10000
920
1000
15000
10000
784
11000
774
12000
13000
2000
13000
886
13000
14000
10000
690
273
10000
11000
20000
20000
12000
20000
20000
16000
936
12000
26000
833
39
650
5000
596
49000
12000
811
13000
11000
11000
14000
29000
480
11000
669
6000
383
12000
6000
20000
681
673
11000
13000
16000
1000
10000
760
10000
14000
979
852
13000
5
19000
752
12000
3000
10000
11000
6000
1000
780
40000
18000
2000
18000
22000
12000
1000
29000
2000
558
26000
12000
3000
925
14000
40000
1000
29000
29000
920
660
15000
2000
827
12000
23000
8000
26000
1000
490
26000
3000
13000
144
623
12000
29000
23000
12000
11000
2000
8000
14000
962
2000
22000
2000
873
1000
5000
16000
12000
11000
40000
693
11000
770
13000
2000
1000
1000
8000
10000
15000
18000
191
11000
622
835
3000
13000
29000
2000
21000
18000
13000
21000
11000
12000
35000
10000
11000
22000
3000
691
11000
833
591
8000
18000
11000
192
11000
3000
11000
49000
3000
11000
14000
919
680
887
12000
22000
15000
49000
13000
11000
11000
14000
12000
283
544
18000
2000
2000
14000
10000
11000
14000
4000
14000
5000
12000
670
879
584
1000
12000
672
813
8000
10000
894
611
4000
409
11000
875
975
17000
3000
21000
3000
11000
26000
10000
34000
14000
920
13000
1000
12000
11000
13000
11000
1000
12000
13000
18000
29000
4000
1000
12000
11000
15000
11000
577
12000
3000
22000
18000
49000
14000
13000
1000
18000
8000
11000
11000
3000
13000
3000
10000
18000
898
12000
1000
340
891
9000
20000
2000
49000
11000
13000
20000
23
12000
13000
981
13000
882
743
3000
529
23000
766
1000
14000
2
563
67
1000
795
163
1000
2000
14000
622
22000
24000
14000
23000
12000
1000
22000
1000
1000
7000
10000
610
851
16000
20000
11000
12000
835
11000
719
613
2000
11000
12000
15000
1000
3000
867
22000
22000
912
374
12000
745
13000
19000
15000
11000
12000
13000
919
582
15000
87000
13000
11000
933
3000
3000
2000
18000
7000
4000
12000
548
22000
11000
11000
3000
8000
1000
906
15000
745
940
13000
21
3000
1000
710
692
1000
8000
14000
870
960
13000
49000
13000
10000
898
10000
3000
886
1000
4000
18000
1000
833
12000
443
25000
13000
2000
903
3000
18000
15000
11000
17000
12000
12000
989
5000
394
13000
26000
1000
349
11000
2000
2000
26000
11000
844
13000
576
11000
21000
22000
7000
584
14000
614
1000
966
14000
788
29000
7000
3000
537
995
940
14000
15000
3000
2000
1000
11000
23000
18000
15000
901
20000
15000
8000
12000
21000
769
16000
13000
848
13000
12000
8000
600
10000
2000
10000
27000
16000
1000
509
14000
26000
394
324
17000
11000
11000
1000
13000
975
623
268
3000
23000
11000
963
177
645
12000
967
2000
11000
21
979
11000
524
3000
11000
46000
8000
989
18000
22000
2000
15000
419
925
835
13000
394
577
2000
770
1000
18000
3000
26000
1000
13000
4000
10000
12000
988
11000
12000
13000
14000
19000
10000
12000
2000
10000
1000
433
13000
658
309
11000
18000
21000
881
854
366
3000
10000
24000
834
1000
9000
732
966
789
539
34000
18000
1000
650
874
1000
11000
1000
23000
33000
10000
13000
18000
8000
1000
310
12000
27000
436
16000
2000
510
22000
22000
13000
21000
13000
22000
13000
287
865
11000
722
780
19000
11000
968
889
20000
5000
973
794
11000
3000
19000
40000
26000
11000
879
11000
16000
743
14000
2000
870
970
1000
13000
142
12000
963
1000
14000
1000
962
18000
11000
2000
4000
12000
23000
883
14000
12000
15000
1000
22000
23000
10000
851
10000
3000
3000
15000
15000
795
18000
5000
18000
10000
931
2000
12000
926
21000
847
890
13000
13000
485
1000
1000
5000
1000
534
57
22000
1000
838
622
933
12000
13000
8000
4000
11000
18000
22000
18000
13000
9000
789
995
939
3000
956
2000
226
617
13000
12000
10000
13000
14000
5000
277
593
117
14000
23000
4000
1000
12000
40000
23000
18000
16000
852
21000
29000
1000
4000
14000
14000
631
648
16000
134
22000
211
961
889
677
2000
21000
145
13000
25000
10000
15000
625
49000
11000
12000
1000
8000
11000
17000
11000
14000
12000
8000
8000
40000
18000
1000
426
19000
12000
14000
6000
33000
13000
2000
22000
18000
14000
12000
20000
154
416
8000
660
1000
10000
838
15000
13000
769
17000
87000
16000
10000
495
992
18000
3000
18000
490
437
16000
21000
294
14000
14000
18000
854
12000
29000
627
330
24000
325
2000
15000
13000
33000
45000
879
13000
430
933
16000
6000
12000
629
14000
13000
11000
18000
1000
14000
10000
23000
51
20000
6000
972
1000
10000
6000
3000
984
2000
18000
1000
49000
14000
11000
2000
12000
841
26000
1000
879
22000
599
11000
2000
20000
18000
17000
598
2000
27000
779
18000
20000
3000
12000
23000
14000
3000
2000
113
678
1000
919
13000
29
4000
8000
8000
8000
14000
1000
13000
18000
509
788
1000
924
14000
807
545
14000
11000
18000
821
11000
11000
3000
20000
18000
25000
1000
970
886
17000
521
2000
811
14000
18000
40000
13000
982
6000
14000
11000
1000
14000
35000
1000
11000
1000
749
550
427
12000
913
5000
29000
13000
14000
2000
905
1000
723
11000
1000
13000
12000
854
3000
23000
879
12000
11000
267
164
849
219
719
1000
11000
18000
22000
13000
23000
1000
12000
956
11000
670
12000
11000
44
10000
405
26000
17000
8000
579
22000
723
975
940
4000
11000
12000
650
468
683
10000
22000
5000
12000
5000
922
11000
624
870
1000
1000
326
13000
687
13000
107
734
668
34000
16000
984
1000
19000
1000
13000
18000
3000
480
15000
1000
10000
97
2000
287
1000
8000
18000
11000
11000
22000
13000
23000
22000
2000
855
904
3000
2000
24000
700
433
17000
24000
2000
982
164000
15000
578
836
1000
4000
2000
15000
11000
14000
23000
18000
3000
708
387
2000
954
40000
18000
545
3000
1000
880
13000
21000
12000
472
1000
3000
24000
799
176
405
2000
12000
720
683
374
703
711
18000
787
51
1000
14000
924
15000
293
1000
2000
3000
3000
607
10000
964
20000
18000
327
22000
783
877
10000
22000
978
1000
14000
16000
4000
12000
13000
6000
636
13000
11000
782
326
976
865
875
2000
2000
14000
1000
1000
521
2000
12000
1000
3000
545
11000
61
795
1000
15000
884
11000
499
1000
5000
1000
11000
1000
2000
720
218
152
747
940
2000
865
593
22000
755
982
18000
592
12000
1000
643
21000
23000
76
18000
970
931
598
308
854
40000
24000
628
940
12000
957
14000
37
1000
13000
378
4000
2000
17000
13000
10000
10000
24000
18000
26000
786
13000
2000
11000
17000
18000
789
740
463
551
180
496
11000
9000
14000
15000
2000
746
12000
685
944
541
1000
14000
461
45000
920
877
808
768
778
2000
18000
13000
11000
12000
4000
22000
18000
492
1000
14000
18000
947
19000
900
40000
812
29000
826
11000
1000
15000
17000
15000
18000
529
49000
978
49000
11000
944
40000
14000
887
24000
15000
20000
1000
969
897
1000
288
2000
396
446
730
20000
29000
1000
775
2000
2000
3000
591
939
907
18000
22000
287
436
826
11000
10000
327
1000
21000
1000
1000
1000
23000
472
3000
26000
4000
3000
465
14000
11000
605
553
18000
694
2000
1000
11000
635
1000
13000
3000
2000
23000
690
883
2000
2000
848
1000
548
695
837
3
30
4000
970
988
1000
554
20000
372
12000
6
989
40000
818
18000
113
635
10000
2000
826
324
614
3000
852
18000
669
722
26000
11000
11000
165
14000
1000
22000
3000
773
13000
678
722
17000
826
22000
23000
49000
918
15000
344
8000
716
16000
649
10000
26000
29000
638
12000
1000
889
3000
12000
3000
13000
845
330
11000
839
975
10000
11000
18000
244
13000
12000
687
2000
26000
848
539
12000
3000
15000
18000
17000
11000
33000
826
15000
989
1000
531
11000
944
11000
2000
19000
616
16000
22000
33000
2000
1000
971
769
12000
24000
442
303
23000
979
405
11000
15000
971
1000
2000
970
11000
506
3000
617
14000
40000
18000
12000
1000
3000
1000
567
18000
984
19000
898
939
971
40000
696
455
15000
2000
11000
3000
2000
585
8000
430
26000
869
22000
581
13000
157
971
663
15000
17000
1000
680
12000
1000
940
17000
1000
759
577
631
521
11000
18000
973
2000
2000
1000
2000
1000
10000
14000
954
978
4000
19000
15000
14000
10000
13000
900
1000
1000
849
372
489
596
23000
811
21000
473
971
22000
448
1000
11000
10000
891
147
3000
779
18000
22000
3000
14000
2000
17000
876
489
826
11000
974
295
26000
18000
1000
113
922
963
114
1000
11000
10000
523
757
955
1000
2000
504
2000
22000
18000
11000
1000
1000
49000
559
11000
971
11000
11000
40000
25000
833
33000
579
639
3000
11000
173
13000
1000
22000
844
11
664
14000
576
580
943
553
731
18000
35000
422
11000
14000
933
3000
497
63
806
738
1000
1000
26000
1000
2000
2
480
17000
10000
23000
594
11000
673
940
358
386
24000
766
12000
1000
11000
1000
953
1000
66
1000
13000
2000
898
523
3000
3000
491
303
11000
14000
748
1000
2000
8000
783
22000
1000
22000
844
5
567
2000
7000
1000
14000
743
11000
1000
3000
8000
813
385
332
748
1000
2000
12000
19000
2000
826
20000
1000
22000
11000
771
826
1000
1000
642
11000
15000
442
16000
883
260
49000
10000
16000
2000
14000
775
970
14000
15000
19000
4000
1000
918
554
770
2000
642
22000
2000
655
14000
541
934
3000
20000
2000
5000
264
440
713
14000
40000
975
14000
22000
640000
22000
1000
14000
14000
742
1000
24000
695
272
1000
971
744
2000
5000
15000
1000
4000
12000
14000
296
1000
5000
11000
17000
328
601
15000
49000
288
285
469
1000
904
756
11000
460
13000
3000
19000
90
618
20000
18000
40000
45
17000
11000
3000
26000
11000
13000
462
931
967
940
577
902
960
774
798
355
900
985
27000
874
963
876
3000
338
971
18000
13000
562
400
172
27000
25000
854
23000
16000
181
941
3000
10000
442
174
10000
433
843
849
12000
6000
927
45
783
14000
14000
473
2000
962
5000
12000
783
541
908
44
21
13000
1000
279
79
668
18000
17000
12000
13000
865
20000
966
13000
967
8000
12000
45000
893
218
11000
18000
1000
11000
2000
1000
738
1000
512
2000
3000
18000
23000
742
22000
12000
23000
15000
11000
11000
10000
3000
1000
33000
14000
20000
19000
23000
2000
20000
327
17000
912
29000
721
327
1000
11000
527
2000
201
787
805
556
129
1000
523
2000
931
901
2000
12000
16000
436
545
820
649
967
329
955
896
13000
12000
591
390
150
240
975
978
8000
962
19000
3000
26000
554
6000
1000
2000
638
3000
805
40000
2000
203
14000
939
14000
813
22000
809
23000
1000
957
12000
20
385
16000
893
22000
533
18000
34000
2000
1000
26000
3000
711
98
925
1000
15000
19000
670
34000
1000
1000
11000
3000
559
16000
936
1000
12000
1000
608
813
2000
6000
826
989
2000
1000
1000
8000
596
742
2000
962
2000
40000
11000
982
813
15000
3000
1000
1000
3000
526
826
304
87000
1000
607
926
745
1000
4000
508
18000
49000
889
978
565
759
11000
2000
22000
860
383
10000
31000
16000
11000
141
534
786
13000
812
1000
1000
741
1000
26000
14000
2000
18000
177
720
125
2000
3000
1000
25000
681
960
12000
87000
1000
646
10000
2000
0
606
1000
15000
995
691
2000
1000
11000
17000
970
991
16000
304
21000
264
909
3000
283
6000
787
651
302
1000
940
8000
869
137000
13000
11000
788
1000
26000
1000
541
3000
12000
922
346
969
17000
400
734
5000
14000
11000
2000
14000
22000
1000
856
22000
650
688
716
786
683
204
787
997
1000
885
2000
669
1000
1000
1000
13000
21000
18000
310
690
829
1000
1000
20
23000
15000
975
22000
893
572
801
1000
2000
836
23000
991
9000
979
11000
488
18000
33000
699
46
106
403
14000
310
3000
9000
344
483
18000
12000
109
729
22000
14000
12000
2000
486
933
3000
14000
1000
611
1000
888
1000
885
607
731
544
500
31000
341
1000
991
17
483
14000
876
948
3000
617
2000
1000
2
12000
8000
87000
12000
654
82
40000
3000
920
789
15000
332
2000
12000
1000
1000
12000
723
748
1000
8000
567
975
1000
692
2000
2000
727
1000
828
12000
15000
594
97
2000
844
2000
2000
643
390
691
22000
2000
155
808
11000
11000
757
10000
17000
16000
14000
946
12000
372
11000
517
210
805
712
723
405
567
1000
577
40000
24000
627
27000
456
597
989
4000
11000
25000
654
63
662
1000
1000
364
663
897
84
854
1000
1000
805
444
22000
15000
923
11000
158
11000
3000
866
549
13000
109
482
2000
453
45000
839
912
33000
2000
818
1000
16000
723
1000
8000
15000
1000
593
427
918
680
10000
973
989
1000
690
1000
3000
715
394
567
2000
1000
328
23000
767
400
3000
634
214
14000
1000
677
669
465
3000
21000
826
25000
11000
714
638
49000
879
227
844
1000
23000
996
10000
13000
20000
241
911
634
1000
1000
939
3000
861
633
175
851
19000
908
3000
835
24000
8000
854
21000
812
11000
18000
599
1000
940
555
11000
1000
1000
1000
503
10000
898
3000
939
172
10000
488
1000
1000
5000
883
890
422
232
844
1000
235
499
901
3000
19000
13000
10000
103
18000
14000
742
460
17000
852
94
19000
1000
874
17000
1000
816
925
326
925
2000
23000
11000
1000
934
22000
22000
925
12000
3000
4000
90
22000
11000
15000
23000
13000
833
20000
607
908
2000
956
1000
2000
18000
18000
33000
811
818
10000
116
907
1000
893
14000
193
838
19000
512
12000
3000
1000
1000
919
912
882
472
826
3000
989
33000
775
471
10000
695
11000
22000
826
354
468
1000
907
11000
796
14000
436
12000
427
11000
595
746
925
989
22000
1000
443
22000
3000
556
11000
11000
890
14000
1000
8000
65
931
15000
24000
13000
860
477
572
49000
21000
890
6000
837
12000
10000
857
918
876
783
6000
192
5000
136
510
12000
1000
936
20
64
13000
825
14000
549
17000
776
1000
735
14000
1000
179
61
556
631
13000
20000
29000
1000
467
16000
3000
668
886
8000
770
442
892
10000
953
10000
997
456
155
975
849
327
8000
11000
23
592
706
723
931
874
869
26000
953
3000
718
1000
22000
1000
12000
1000
12000
878
962
413
14000
12000
10000
543
159
423
14000
16000
149
412
380
149
697
13000
826
1000
15000
927
2000
3000
20
14000
2000
539
70
918
273
19000
49000
898
569
20000
22000
656
130
3000
3000
549
13000
833
23000
11000
11000
619
8000
571
1000
899
904
694
659
1000
2000
149
512
939
803
4000
378
24000
1000
805
721
899
16000
690
3000
4000
15000
567
552
12000
748
2000
2000
14000
979
22000
8000
683
2000
14000
3000
1000
306
873
14000
477
170
581
18000
13000
11000
6000
18000
818
783
1000
490
33000
77
963
1000
812
966
22000
18000
912
717
968
1000
813
3000
6000
400
997
656
12000
759
2000
11000
93
17000
13000
22000
1000
963
405
629
1000
971
654
49000
137000
17000
1000
995
227
4000
28
8000
13000
3000
452
347
1000
1000
975
1000
836
733
873
1000
1000
833
9000
26000
1000
1000
988
11000
1000
19000
362
529
565
755
664
452
436
931
1000
957
537
433
525
873
1000
812
5000
3000
769
21000
211
1000
3000
878
60
706
845
865
693
941
797
967
662
9
13000
9
686
52
970
84
567
181
1000
399
26000
551
969
15
680
215
767
11000
22000
597
585
755
23000
608
886
17000
84
1000
785
991
683
276
4000
723
1000
664
584
636
13000
425
838
385
799
8000
358
1000
11000
16000
14000
901
960
40000
866
979
658
1000
3000
1000
14000
338
14000
60
845
3000
917
142
172
8000
893
805
541
273
861
17000
882
665
381
564
482
639
68
49000
14000
723
13000
4000
798
23000
723
494
1000
10000
726
633
4000
11000
1000
18000
695
1000
759
794
1000
4000
2000
723
852
854
535
904
13000
931
745
623
851
931
1000
982
10000
3000
1000
1000
690
14000
11000
556
371
2000
13000
929
220
918
1000
18000
176
651
2000
2000
258
11000
655
773
839
1000
13000
3000
962
1000
772
15000
989
4000
11000
4000
7000
537
1000
460
20000
939
7000
1000
1000
1000
1000
886
24
874
12000
628
427
753
1000
719
23000
14000
2000
144
823
10000
402
3000
902
754
634
982
1000
533
902
6000
749
530
14000
16000
11000
307
975
11000
2000
22000
966
20000
816
990
603
478
787
678
374
837
18000
374
893
49000
798
1000
17000
16000
665
78
962
795
12000
806
1000
835
147
706
906
439
122
11000
298
485
5000
1000
30000
63
1000
1000
183
670
398
1000
764
17000
786
723
4000
742
31000
678
1000
557
924
148
187
33000
21000
826
594
10000
509
8000
1000
383
17000
402
244
14000
580
890
1000
311
909
2000
3000
982
12000
14000
392
607
911
591
22000
591
187
1000
4000
970
177
1000
702
745
1000
23000
45
2000
7
982
186
149
679
185
573
922
10000
963
4000
442
722
1000
174
580
4000
668
2000
967
12000
563
3000
949
35
2000
579
35000
736
1000
28
2000
8000
0
638
3000
97
964
440
2000
205
13000
1000
15000
861
354
15000
7000
217
133
389
16000
1000
585
23000
449
363
484
861
18000
803
666
969
452
876
744
24000
23000
15000
539
12000
471
434
15000
851
776
1000
1000
883
1000
12000
3000
1000
1000
963
1000
1000
943
5000
14000
1000
977
61
480
2000
480
3000
21000
735
553
8000
10000
905
27000
954
947
144
6
23000
413
31000
163
186
502
844
1000
848
981
11000
1000
186
10000
24000
1000
3000
827
584
673
611
834
373
24000
12000
71
631
5000
3000
262
532
963
844
287
18000
788
488
24000
294
244
14000
225
23000
1000
17000
1000
581
1000
16000
1000
21000
22000
16000
4000
1000
16000
1000
513
13000
971
718
1000
4000
637
1000
1000
246
816
13000
687
893
14000
883
761
729
116
692
206
787
11000
10000
8000
1000
490
655
783
4000
3000
2000
1000
10000
6000
963
106
227
756
1000
23000
554
13000
766
7000
474
4
26000
876
12000
91
1000
99
122
16000
878
14000
755
149
15000
177
710
240
34000
131
60
1000
585
1000
46
27
699
804
754
876
900
435
116
730
56
13000
27000
1000
10000
18000
844
12000
1000
845
2000
65
1000
431
18
1000
1000
40000
503
640
382
2000
804
13000
3000
865
18000
321
16000
1000
469
957
742
413
555
472
658
8000
1000
711
1000
1000
742
11000
844
697
1000
24000
8000
3000
3000
1000
4000
1000
373
17000
4000
937
263
97
397
4000
244
944
682
976
187
631
721
767
173
1000
974
596
773
11000
11000
103
861
636
592
16000
933
848
805
391
809
11000
163
2000
343
978
778
722
229
883
688
592
634
37
25
1000
368
907
509
23000
16000
19000
14000
113
517
636
715
782
4000
232
56
31
397
934
472
4000
5000
286
796
393
631
208
374
852
1000
14000
608
2000
581
852
506
399
235
726
462
40000
9000
617
510
12000
11000
10000
716
972
1000
838
7000
901
492
2000
205
977
11000
882
1000
1000
1000
2000
17000
535
13000
935
567
11000
742
269
605
1000
11000
742
690
801
926
520
968
155
21000
746
729
849
998
927
93
3000
150
559
847
11000
859
2000
1000
973
4000
18000
2000
55
990
186
25000
922
14000
4000
8000
624
23000
722
10000
967
3000
727
740
578
387
10000
75
6
311
948
3000
197
1000
889
432
343
811
1000
46
331
570
866
3000
695
1000
745
979
989
708
12000
1000
1000
975
784
40000
741
61
595
3000
874
1000
1000
982
968
10000
927
237
773
33000
226
571
5
18000
584
74
943
13000
801
1000
1000
1000
232
22000
562
3000
1000
188
341
854
589
15000
274
25
835
1000
717
24
26000
155
820
129
14000
327
888
19000
898
85
662
2000
2000
1000
309
446
464
29
755
1000
471
114
1000
110
648
125
19000
11000
232
13000
584
12000
707
597
3000
746
14000
355
773
847
45000
230
19000
522
939
658
862
49000
584
382
986
16000
204
812
4000
769
960
721
925
834
497
730
1000
420
48
721
947
1000
979
2000
690
12000
419
10000
945
759
623
617
736
578
18000
4000
331
530
254
18000
585
3000
762
686
114
713
223
431
650
763
399
166
637
544
559
3000
503
507
773
881
277
414
119
963
89
117
3000
443
183
1000
628
2000
826
851
912
3000
575
255
157
606
195
648
625
385
3000
827
430
634
560
984
174
29
827
11000
4000
426
368
922
773
708
2000
21
603
2000
795
1000
1000
11000
18000
141
1000
24000
1000
798
632
11000
74
662
625
595
756
631
15
917
756
828
280
1000
164000
1000
387
691
488
2000
1000
438
773
909
878
426
687
942
1000
71
253
220
2000
88
956
682
610
897
516
935
18
989
13000
685
1000
556
877
927
11
862
939
140
641
674
912
953
578
1000
883
472
729
1000
240
687
578
820
11000
3000
10000
962
113
22000
489
40000
717
439
694
574
904
702
13000
962
723
4000
786
912
536
40
289
1000
487
599
2000
767
798
231
1000
433
652
3000
319
2000
756
1000
2000
1000
904
201
854
2000
119
931
640
267
216
875
447
130
679
275
105
935
695
1000
569
464
402
481
258
122
756
20
760
1000
158
88
443
833
52
123
11
331
804
65
713
871
15000
381
595
617
1000
18000
625
15
50
745
643
56
902
900
8000
882
334
860
655
640
191
611
127
426
2000
794
968
1000
1000
973
586

In [85]:
fb_likes.fillna(0).astype(int)

0        1000
1       40000
2       11000
3       27000
4         131
        ...
4911      637
4912      841
4913        0
4914      946
4915       86
Name: actor_1_facebook_likes, Length: 4916, dtype: int64

In [86]:
movie = movie.rename(columns={'imdb_score': 'IMDB_Score', 'director_name': 'director', 'num_critic_for_reviews': 'reviews'})

In [87]:
movie.head()

,color,director,reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,IMDB_Score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [88]:
movie['viewed'] = 1
movie

,color,director,reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,IMDB_Score,aspect_ratio,movie_facebook_likes,viewed
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,1
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,1
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,1
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,1
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84,1
4912,Color,Unknown,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000,1
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16,1
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660,1
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456,1

In [89]:
movie.drop(columns=['viewed'], inplace=True)
movie

,color,director,reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,IMDB_Score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,Unknown,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [90]:
movie.drop(columns=['viewed'], inplace=True, errors='ignore')

In [91]:
fname = ['John', 'Jane', 'Doe']
lname = ['Smith', 'Doe', 'Black']
birth = [2000, 1995, 1980]
people = pd.DataFrame({
    'first_name': fname,
    'last_name': lname,
    'birth_year': birth
})
people

  first_name last_name  birth_year
0       John     Smith        2000
1       Jane       Doe        1995
2        Doe     Black        1980

In [92]:
movie[movie['director'] == 'James Cameron']

,color,director,reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,IMDB_Score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
26,Color,James Cameron,315.0,194.0,0.0,794.0,Kate Winslet,29000.0,658672302.0,Drama|Romance,...,2528.0,English,USA,PG-13,200000000.0,1997.0,14000.0,7.7,2.35,26000
285,Color,James Cameron,210.0,153.0,0.0,539.0,Jenette Goldstein,780.0,204843350.0,Action|Sci-Fi,...,983.0,English,USA,R,102000000.0,1991.0,604.0,8.5,2.35,13000
288,Color,James Cameron,94.0,141.0,0.0,618.0,Tia Carrere,2000.0,146282411.0,Action|Comedy|Thriller,...,351.0,English,USA,R,115000000.0,1994.0,1000.0,7.2,2.35,0
599,Color,James Cameron,82.0,171.0,0.0,638.0,Todd Graff,2000.0,54222000.0,Adventure|Drama|Sci-Fi|Thriller,...,380.0,English,USA,PG-13,69500000.0,1989.0,650.0,7.6,2.35,0
2455,Color,James Cameron,250.0,154.0,0.0,604.0,Carrie Henn,2000.0,85200000.0,Action|Adventure|Sci-Fi,...,1076.0,English,USA,R,18500000.0,1986.0,626.0,8.4,1.85,18000
3508,Color,James Cameron,204.0,107.0,0.0,255.0,Brian Thompson,2000.0,38400000.0,Action|Sci-Fi,...,692.0,English,UK,R,6500000.0,1984.0,663.0,8.1,1.85,13000

In [93]:
movie['actor_1_name'][movie['actor_1_facebook_likes'].max() == movie['actor_1_facebook_likes']]

1885    Darcy Donavan
Name: actor_1_name, dtype: object

In [96]:
# find the longest movie directed by Steven Spielberg
# 1) filter then find rows equal to the subset max (handles ties)
subset = movie[movie['director'] == 'Steven Spielberg']
longest = subset[subset['duration'] == subset['duration'].max()]
print(longest)

                color          director  reviews  duration  \
1857  Black and White  Steven Spielberg    174.0     185.0

      director_facebook_likes  actor_3_facebook_likes    actor_2_name  \
1857                  14000.0                   212.0  Embeth Davidtz

      actor_1_facebook_likes       gross                   genres  ...  \
1857                 14000.0  96067179.0  Biography|Drama|History  ...

     num_user_for_reviews language  country  content_rating      budget  \
1857               1273.0  English      USA               R  22000000.0

      title_year actor_2_facebook_likes IMDB_Score  aspect_ratio  \
1857      1993.0                  795.0        8.9          1.85

     movie_facebook_likes
1857                41000

[1 rows x 28 columns]

In [97]:
# 2) use idxmax to get a single row (first max)
idx = movie.loc[movie['director'] == 'Steven Spielberg', 'duration'].idxmax()
longest_row = movie.loc[idx]
print(longest_row)

color                                                          Black and White
director                                                      Steven Spielberg
reviews                                                                  174.0
duration                                                                 185.0
director_facebook_likes                                                14000.0
actor_3_facebook_likes                                                   212.0
actor_2_name                                                    Embeth Davidtz
actor_1_facebook_likes                                                 14000.0
gross                                                               96067179.0
genres                                                 Biography|Drama|History
actor_1_name                                                       Liam Neeson
movie_title                                                   Schindler's List
num_voted_users                                                         865020
cast_total_facebook_likes                                                15233
actor_3_name                                                  Caroline Goodall
facenumber_in_poster                                                       0.0
plot_keywords                            german|german soldier|jew|jewish|nazi
movie_imdb_link              http://www.imdb.com/title/tt0108052/?ref_=fn_t...
num_user_for_reviews                                                    1273.0
language                                                               English
country                                                                    USA
content_rating                                                               R
budget                                                              22000000.0
title_year                                                              1993.0
actor_2_facebook_likes                                                   795.0
IMDB_Score                                                                 8.9
aspect_ratio                                                              1.85
movie_facebook_likes                                                     41000
Name: 1857, dtype: object

In [102]:
ss = movie[movie['director'] == 'Steven Spielberg']
ss[ss['duration'] == ss['duration'].max()]

,color,director,reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,IMDB_Score,aspect_ratio,movie_facebook_likes
1857,Black and White,Steven Spielberg,174.0,185.0,14000.0,212.0,Embeth Davidtz,14000.0,96067179.0,Biography|Drama|History,...,1273.0,English,USA,R,22000000.0,1993.0,795.0,8.9,1.85,41000

In [103]:
movie[movie['director'] == 'Steven Spielberg'].nlargest(2, 'duration')

,color,director,reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,IMDB_Score,aspect_ratio,movie_facebook_likes
1857,Black and White,Steven Spielberg,174.0,185.0,14000.0,212.0,Embeth Davidtz,14000.0,96067179.0,Biography|Drama|History,...,1273.0,English,USA,R,22000000.0,1993.0,795.0,8.9,1.85,41000
641,Color,Steven Spielberg,219.0,169.0,14000.0,13000.0,Vin Diesel,15000.0,216119491.0,Action|Drama|War,...,2277.0,English,USA,R,70000000.0,1998.0,14000.0,8.6,1.85,22000

In [104]:
movie[movie['director'] == 'Christopher Nolan'].loc[lambda x: x['duration'].idxmax()]

color                                                                    Color
director                                                     Christopher Nolan
reviews                                                                  712.0
duration                                                                 169.0
director_facebook_likes                                                22000.0
actor_3_facebook_likes                                                  6000.0
actor_2_name                                                     Anne Hathaway
actor_1_facebook_likes                                                 11000.0
gross                                                              187991439.0
genres                                                  Adventure|Drama|Sci-Fi
actor_1_name                                               Matthew McConaughey
movie_title                                                       Interstellar
num_voted_users                                                         928227
cast_total_facebook_likes                                                31488
actor_3_name                                                     Mackenzie Foy
facenumber_in_poster                                                       1.0
plot_keywords                black hole|father daughter relationship|saving...
movie_imdb_link              http://www.imdb.com/title/tt0816692/?ref_=fn_t...
num_user_for_reviews                                                    2725.0
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                             165000000.0
title_year                                                              2014.0
actor_2_facebook_likes                                                 11000.0
IMDB_Score                                                                 8.6
aspect_ratio                                                              2.35
movie_facebook_likes                                                    349000
Name: 96, dtype: object

In [101]:
weather = pd.read_csv('data/weather_data.csv')
weather

         day  temp condition
0     Monday     8     Sunny
1    Tuesday    11      Rain
2  Wednesday    12      Rain
3   Thursday    11    Cloudy
4     Friday    19     Sunny
5   Saturday    17     Sunny
6     Sunday    20     Sunny

In [110]:
# 1. find the average temperature and maximum 
print(weather['temp'].mean())
print(weather['temp'].max())


# 2. what was the temperature on Monday and Friday?
weather[weather['day'].isin(['Monday', 'Friday'])]

# 3. What was the temperature on Saturday in Farenheit?
weather['temp_f'] = weather['temp'] * 9/5 + 32
weather[['day', 'temp_f']][weather['day'] == 'Saturday']

14.0
20

        day  temp_f
5  Saturday    62.6